.popup-content .el-table__header-wrapper th .cell{
  text-align: center;
  max-height: 54px;
}
.popup-content .el-table__body-wrapper td{
  text-align: center;
}
.popup-content .el-table__body td{
  padding: 0;
}
.popup-content .subject .cell{
  line-height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.popup-content .text-left .cell{
  text-align: left;
}
.popup-content .el-table__expand-icon{
  height: 54px;
  margin-right: 3px;
}