.popup-content .el-table__header-wrapper th .cell{
  text-align: center;
  max-height: 54px;
}
.popup-content .el-table__body-wrapper td{
  text-align: center;
}
.popup-content .el-table__body td{
  padding: 0;
}
.popup-content .subject .cell{
  line-height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.popup-content .text-left .cell{
  text-align: left;
}
.popup-content .el-table__expand-icon{
  height: 54px;
  margin-right: 3px;
}
.popup-content .issue-journals .el-timeline{
  padding-left: 15px;
  padding-right: 10px;
}
.popup-content .issue-journals .el-timeline :last-child{
  padding-bottom: 0;
}
.popup-content .el-icon-circle-close{
  color: white;
}
.popup-content .el-timeline-item__node--normal{
  background-color: red;
  width: 8px;
  height: 8px;
  left: 1px;
}
.operation-buttons i{
  font-weight: bold;
}
.dropdown-menu{
  height: 200px;
  overflow: auto;
}